
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gallery</h2>

<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.30 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.31 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.32 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.33 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.35 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.36 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.37 AM (1).jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.37 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.38 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.39 AM (1).jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.39 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.40 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.41 AM (1).jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.41 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.42 AM (1).jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.42 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.43 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.44 AM (1).jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.44 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.45 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.46 AM (1).jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.46 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.47 AM (1).jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.47 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.48 AM (1).jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.48 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.49 AM (1).jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.49 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.50 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.51 AM (1).jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.51 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.52 AM (1).jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.52 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.53 AM.jpeg" />
<img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.54 AM.jpeg" />