
@{
    ViewBag.Title = "GrammarQuest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grammar Quest</h2>
@*<h2>State level Grammar Quest 2018-19</h2>*@

<h3>State level Grammar Quest 2019-20</h3>


<embed src="~/pics/1_POSTER.pdf" width="800" height="1300" />
<embed src="~/pics/2_BROHURE.pdf" width="800" height="1300" />

