@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fullwidth-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="boxed-section best-students">
                    <h2 class="section-title  text-center">Our best students</h2>
                    <ul class="best-students-grid">
                        <li class="student"><a href="#"><img src="/dummy/student-md-1.jpg" alt="student 1"></a></li>
                        <li class="student"><a href="#"><img src="/dummy/student-md-2.jpg" alt="student 2"></a></li>
                        <li class="student"><a href="#"><img src="/dummy/student-md-3.jpg" alt="student 3"></a></li>
                        <li class="student"><a href="#"><img src="/dummy/student-md-4.jpg" alt="student 4"></a></li>
                        <li class="student"><a href="#"><img src="/dummy/student-md-5.jpg" alt="student 5"></a></li>
                        <li class="student"><a href="#" class="more-student">See more</a></li>
                    </ul>
                </div> <!-- .boxed-section .best-students -->
            </div>
            <div class="col-md-6">
                <div class="boxed-section request-form">
                    <h2 class="section-title text-center">Login</h2>
                    <form action="#">
                        <div class="field">
                            <label for="email">User Name:</label>
                            <div class="control"><input type="text" id="userName" placeholder="User Name"></div>
                        </div>
                        <div class="field">
                            <label for="name">Password</label>
                            <div class="control"><input type="password" id="name" placeholder="Password"></div>
                        </div>

                        <div class="field no-label">
                            <div class="control" style="padding-right:20px">
                                <input type="submit" class="button" value="Login">
                            </div>
                            <div class="control">
                                <input type="button" class="button" value="Cancel">
                            </div>
                        </div>
                    </form>
                </div> <!-- .boxed-section .request-form -->
            </div>
        </div>  <!-- .row -->
    </div> <!-- .container -->
</div> <!-- .fullwidth-block -->
