@{
    ViewBag.Title = "About us:";
}
<h2>@ViewBag.Title</h2>

<p></p>
<p>

    Speaking Tree is founded with a mission to deliver qualityCV training and to promote competitive awareness among students by making them to communicate with the society confidently.
    Director:

    Speaking Tree is in 3 segments (viz. School, college and corporate) to be their best training partner to help out all the aspirants to grow and fulfill their accomplishments.

</p>
<h2>Director's profile:</h2>
<p></p>
<p>
    Mr Sai Kumar, CEO, Operations of the organisation has nearly 2 decades of experience in the training sector. Trained lakhs of trainees and presided on many national and international platforms, he has been a torch bearer for many innovative ideas and Grammar Quest is one among them.
    Services
</p>
<p></p>

<h2>Motto:</h2>
<p></p>
<p>Our motto is to bring the competence and proficiency in English through methodical and holistic approach with a deep root analysis.</p>
