@model SpeakingTree.Models.User

@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-11">
        @TempData["LogoutMessage"]
    </div>
</div>

    <div class="jumbotron">
        <h2>Speaking Tree<small> We Train! You Speak!</small></h2>
        @*<p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>School / College / Corporate</h3>
            <p>
                <img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.26 AM.jpeg" height="200" width="200" />
            </p>
            <p><a class="btn btn-default" href="https://speakingtree.org">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>We Train! You Speak!</h2>
            <p>
                <img src="~/pics/WhatsApp Image 2019-11-04 at 8.02.27 AM.jpeg" height="200" width="200" />
            </p>
            <p><a class="btn btn-default" href="https://speakingtree.org">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Your Best Training Partner</h2>
            <p>
                <picture>
                    <source srcset="~/pics/handhshake.webp" type="image/webp">
                </picture>
            </p>
            <p><a class="btn btn-default" href="https://speakingtree.org">Learn more &raquo;</a></p>
        </div>
    </div>

    <div>
        <div class="=row">
            <h3>Testimonials</h3>
        </div>

    </div>
